.mainPage {
    background: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h3 {
    color: cornflowerblue;
}

.card {
    --radius: 2rem;
    box-shadow: 0 10px 12px 0 rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 30px;
    /* width: 18rem; */
    /* max-width: 350px; */
    margin: 1em;
}

.mn-card {
    max-width: 500px !important;
    min-height: 400px;
}

.card:hover { box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2); }

.mn-card img {
    display: block;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

.icon-block {
    --link-color: #007bff;
    --center: 35px;
}

/* .icon-block a { text-decoration: none; } */

.icon-block i {
    border: 1px solid var(--link-color);
    color: var(--link-color);

    transition: all 1s ease;
    border-radius: 1.5rem;
    font-size: 20px;
    letter-spacing: 0;
    text-align: center;
    line-height: var(--center);

    width: var(--center);
    height: var(--center);
    margin:0 0.5rem;
}

.icon-block i:hover {
    background:var(--link-color);
    color:#fff;
}

.socialLinks {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.socialLinks > a {
    --size: 8vmin;

    border: 1px solid rgba(255, 255, 255, 0.3);
    background: #e8eff5;
    box-shadow:
      7px 7px 15px #bbcfda, -4px -4px 13px #fff,
      inset 4px 4px 8px rgba(209, 217, 230, 0.2),
      inset 8px 8px 8px rgba(255, 255, 255, 0.2)
    ;

    transition: all 0.4s;
    border-radius: 1rem;
    /* line-height: var(--size); */

    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--size);
    height: var(--size);
    margin: 0.75em;
  }

  .socialLinks i {
    color: cornflowerblue;
    transition: all 0.2s;
    font-size: 2em;
  }
  .socialLinks > a:hover i {
    transform: scale(0.90);
  }
