.mfa-page {
  background: #222;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.mfa-card {
  --radius: 1rem;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  border-radius: var(--radius);

  display: flex;
  flex-flow: row;

  max-width: 800px;
}

  .mfa-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .mfa-card .mfa-content {
    padding: 2em;
  }

  .flex-profile,
  .flex-content
  {
    flex: 1;
  }


/*  */

.mfa-full-name > * {
  cursor: crosshair;
  font-weight: bold;
}

/*  */

.mfa-profile-pic {
  /* align-self: center; */

  border-radius: var(--radius) 0 0 var(--radius);
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19)
  ;

  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

/*  */

.mfa-personal-message {
  text-align: justify;
  line-height: 1.6;
}

/*  */

.mfa-social-links {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  /* padding: 1em; */
}

.mfa-social-links > a {
  --size: 8vmin;

  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #e8eff5;
  box-shadow:
    7px 7px 15px #bbcfda, -4px -4px 13px #fff,
    inset 4px 4px 8px rgba(209, 217, 230, 0.2),
    inset 8px 8px 8px rgba(255, 255, 255, 0.2)
  ;

  transition: all 0.4s;
  border-radius: 1rem;
  /* line-height: var(--size); */

  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--size);
  height: var(--size);
  margin: 0.75em;
}

.mfa-social-links i {
  color: #727272;
  transition: all 0.4s;
  font-size: 2em;
}
.mfa-social-links > a:hover i {
  transform: scale(0.96);
}

.mfa-social-links .email:hover i {
  color: #181b26;
}
.mfa-social-links .email:focus i {
  color: #45474c;
}

.mfa-social-links .github:hover i {
  color: #6e5494;
}
.mfa-social-links .github:focus i {
  color: #a38bc9;
}

.mfa-social-links .linkedin:hover i {
  color: #0e76a8;
}
.mfa-social-links .linkedin:focus i {
  color: #2498ce;
}

.mfa-social-links .portfolio:hover i {
  color: #181b26;
}
.mfa-social-links .portfolio:focus i {
  color: #45474c;
}

.mfa-social-links > a:hover {
  box-shadow:
    4px 2px 18px #bbcfda, -4px -4px 13px #fff,
    inset 6px 6px 16px rgba(209, 217, 230, 0.8),
    inset 8px 8px 8px rgba(255, 255, 255, 0.2)
  ;
  transform: translateY(0.25em);
}

/*  */


@media (max-width: 810px) {
  .mfa-card {
    flex-flow: column;
    max-width: 400px;
    margin: 1rem;
  }

  .mfa-profile-pic {
    border-radius: var(--radius) var(--radius) 0 0;
  }
}
