/* header .wrapper { border: 2px solid black; } */
/* form { border: 2px solid gray; } */
.search-box { border: 2px solid black; }
/* input[type=search] { border: 2px solid lightgray; } */
/* button { border: 2px solid darkgray; } */

/*  */

header { width: 100%; }
header .wrapper {
    --search-size: 300px;

    display: flex;
    flex-flow: column;
    align-items: center;
    /* justify-content: center; */

    max-width: 400px;
    margin: 0 auto;
}

/*  */

form {
    /* transition: width 0.3s ease; */
    z-index: 1;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;

    /* width: var(--search-size); */
}

form:focus-within {
    width: var(--search-size);
}
/* search-input:not([value=""]):not(:focus):optional */
form:focus-within > .search-box {
    /* background: pink; */
    width: 100%;
}

.search-box {
    --trans: transparent;
    --size: 50px;
    --font-size: 13pt;
    --radius: 1.5rem;

    background: white;

    overflow: hidden;
    border-radius: var(--radius);
    transition: width 0.3s ease;

    position: relative;
    display: flex;

    width: var(--size);
    height: var(--size);
    padding: 0.2em;
}
    .search-box:focus-within 
    {
        width: 100%;
    }
    .search-box:focus-within > .search-input 
    {
        cursor: initial;
        opacity: 1;
        width: calc( 100% - var(--size) );
    }
    .search-input:not([value=""]):not(:focus):optional + .search-btn,
    .search-box:focus-within > .search-btn 
    {
        color: #ff4848;
        background: black;
    }

    .search-input {
        cursor: pointer;
        flex-grow: 1;
        background: var(--trans);

        opacity: 0;
        font-size: var(--font-size);
        line-height: var(--size);

        position: absolute;
        top: 0;
        left: 0;

        height: 100%;
        padding-left: 0.5em;
        /* display: none; */
    }
    .search-btn {
        background: #ccc;
        color: #007bff;
        
        border-radius: var(--radius);
        font-size: var(--font-size);

        width: calc( var(--size) - 10px );
        height: calc( var(--size) - 10px );
        margin-left: auto; 
        /* padding: 0.5em; */
    }
        .search-btn:hover,
        .search-btn:focus
        {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
        }
/*  */

/* .search-input:not([value=""]):not(:focus):optional */

/* form {  width: var(--search-size); } */
/* .search-box { width: 100%; } */
/* .search-input { opacity: 1; width: calc( 100% - var(--size) ); } */


/*  */

.search-btn::before {
        content: "";
    border: 4px solid black;
    
    border-radius: var(--radius);
    /* animation: pulse 1s infinite; */
    
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 1rem;
    
    display: none;
}

@keyframes pulse {
    from { transform: scale(1); }
    to { transform: scale(1.5); }
}

/*  */

.search-selection {
    --size: 50px;

    box-shadow: 
        0 0 2px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.24)
    ;
    position: absolute;
    top: 100%;
    
    width: var(--search-size);
    max-height: calc( var(--size) * 3 );
    overflow-y: scroll;
    scrollbar-width: 0.5rem;
    scrollbar-color: #999 #f1f1f1;
}
    .search-selection::-webkit-scrollbar {
        width: 0.5rem;
    }
    .search-selection::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    .search-selection::-webkit-scrollbar-thumb {
        background: #999;
    }
    .search-selection::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
.search-selection > span {
    cursor: pointer;
    background: #fff;

    font-size: 13pt;
    font-weight: 600;
    transition: all 0.2s ease;
    display: block;
    
    padding: 1rem 0.5rem;
    height: var(--size);
}
    .search-selection > span:nth-child(1) {
        border-top: 2px solid #f4f4f4;
    }
    .search-selection > span:not(:nth-child(1)) {
        border-top: 0.5px solid #666;
    }

    .search-selection > span:hover {
        background: #f1f1f1;
    }

    .search-selection > span:focus {
        background: #666;
    }
/*  */