.matt-page {
    /* background-color: steelblue; */
    /* background-color: wheat; */
    background-color: coral;
}

.matt-page > * {
    padding-top: 10px;
    padding-bottom: 10px;
}

.matt-page h2 {
    color: crimson;
    font-weight: 800;
}

.matt-page p {
    color: hotpink;
}

.matt-page div a {
    color: lavender;
}