@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.matt-page {
    /* background-color: steelblue; */
    /* background-color: wheat; */
    background-color: coral;
    font-family: 'Press Start 2P', cursive;
}

.matt-page > * {
    padding-top: 10px;
    padding-bottom: 10px;
}

.matt-page h2 {
    color: crimson;
    font-weight: 800;
}

.matt-image {
    width: 450px;
}

.matt-page p {
    color: blueviolet;
}

.matt-page div a {
    margin: 0 10px;
}

.matt-page div i {
    color: lavender;
}